<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="House Rental App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing">
        <activity
            android:name=".CompassActivity"
            android:exported="true" />
        <activity
            android:name=".Compass"
            android:exported="true" />
        <activity
            android:name=".ViewBooking"
            android:exported="true" />
        <activity
            android:name=".Onlinepayment"
            android:exported="true" />
        <activity
            android:name=".Booking"
            android:exported="true" />
        <activity
            android:name=".Confirm"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".H_list"
            android:exported="true" />
        <activity
            android:name=".H_View"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".H_Insert"
            android:exported="true" />
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".ViewProfile"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>